# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = '../WeatherPy/weather_output.csv'
weather_df = pd.read_csv(path, encoding = 'utf-8')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
0,jasper,37.2001,-94.3502,64.40,82,90,1621129558,5.75,US
1,murgab,37.4966,61.9714,64.40,45,0,1621129558,4.61,TM
2,ushuaia,-54.8000,-68.3000,42.80,70,20,1621129559,7.00,AR
3,mahebourg,-20.4081,57.7000,73.40,78,20,1621129559,10.36,MU
4,bluff,-46.6000,168.3333,53.01,70,51,1621129559,5.01,NZ
...,...,...,...,...,...,...,...,...,...
554,baykit,61.6700,96.3700,33.49,53,33,1621130187,9.71,RU
555,loa janan,-0.5830,117.0950,84.78,75,87,1621130231,3.33,ID
556,nampula,-15.1165,39.2666,66.20,100,90,1621129932,4.61,MZ
557,klyuchevskiy,53.5317,119.4519,57.18,26,7,1621130291,10.83,RU
558,gerede,40.8008,32.1969,47.64,83,98,1621130291,3.29,TR

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#fig = gmap.figure(...)
#once fig is added, then don't need to do it again. Using the same figure, add layers onto for the rest.
from api_keys import g_key
gmaps.configure(api_key=g_key)

# Plot Heatmap
fig = gmaps.figure(center=(51.5, -0.1), zoom_level = 2)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]
locations

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
#View the dataframe
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
0,jasper,37.2001,-94.3502,64.40,82,90,1621129558,5.75,US
1,murgab,37.4966,61.9714,64.40,45,0,1621129558,4.61,TM
2,ushuaia,-54.8000,-68.3000,42.80,70,20,1621129559,7.00,AR
3,mahebourg,-20.4081,57.7000,73.40,78,20,1621129559,10.36,MU
4,bluff,-46.6000,168.3333,53.01,70,51,1621129559,5.01,NZ
...,...,...,...,...,...,...,...,...,...
554,baykit,61.6700,96.3700,33.49,53,33,1621130187,9.71,RU
555,loa janan,-0.5830,117.0950,84.78,75,87,1621130231,3.33,ID
556,nampula,-15.1165,39.2666,66.20,100,90,1621129932,4.61,MZ
557,klyuchevskiy,53.5317,119.4519,57.18,26,7,1621130291,10.83,RU
558,gerede,40.8008,32.1969,47.64,83,98,1621130291,3.29,TR

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# * Narrow down the DataFrame to find your ideal weather condition. For example:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

fit_df = weather_df.loc[(weather_df['Max Temp']>70) & (weather_df['Max Temp']<90) & (weather_df['Wind Speed']<10) \
                       & (weather_df['Cloudiness'] == 0)]
clean_fit_df = fit_df.dropna()
clean_fit_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
8,dawlatabad,36.4141,64.9053,72.57,16,0,1621129560,5.10,AF
57,lazaro cardenas,17.9583,-102.2000,82.20,74,0,1621129631,7.38,MX
65,panzhihua,26.5851,101.7128,81.55,35,0,1621129633,0.07,CN
84,kibala,9.1104,18.3463,77.00,78,0,1621129637,3.44,TD
137,sawakin,19.1059,37.3321,80.71,41,0,1621129709,2.24,SD
235,chapada dos guimaraes,-15.4606,-55.7497,78.80,61,0,1621129853,3.49,BR
248,antsohihy,-14.8796,47.9875,70.18,74,0,1621129856,5.99,MG
254,doha,25.2867,51.5333,89.60,37,0,1621129858,2.30,QA
264,mecca,21.4267,39.8261,77.70,38,0,1621129860,2.44,SA
288,jacobabad,28.2810,68.4388,88.84,33,0,1621129926,9.28,PK
300,namibe,-15.1961,12.1522,73.09,61,0,1621129929,4.76,AO
381,gazanjyk,39.2446,55.5154,74.82,14,0,1621130008,8.95,TM
396,sakakah,29.9697,40.2064,73.40,13,0,1621130072,3.44,SA
451,dayong,25.0209,118.2898,87.80,62,0,1621130146,8.95,CN
543,buraydah,26.3260,43.9750,84.20,20,0,1621130229,6.91,SA

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Add a "Hotel Name" column to the DataFrame.
hotel_pre_clean_df = pd.DataFrame(clean_fit_df)
hotel_pre_clean_df['Hotel Name'] = ''

hotel_pre_clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country,Hotel Name
8,dawlatabad,36.4141,64.9053,72.57,16,0,1621129560,5.10,AF,
57,lazaro cardenas,17.9583,-102.2000,82.20,74,0,1621129631,7.38,MX,
65,panzhihua,26.5851,101.7128,81.55,35,0,1621129633,0.07,CN,
84,kibala,9.1104,18.3463,77.00,78,0,1621129637,3.44,TD,
137,sawakin,19.1059,37.3321,80.71,41,0,1621129709,2.24,SD,
235,chapada dos guimaraes,-15.4606,-55.7497,78.80,61,0,1621129853,3.49,BR,
248,antsohihy,-14.8796,47.9875,70.18,74,0,1621129856,5.99,MG,
254,doha,25.2867,51.5333,89.60,37,0,1621129858,2.30,QA,
264,mecca,21.4267,39.8261,77.70,38,0,1621129860,2.44,SA,
288,jacobabad,28.2810,68.4388,88.84,33,0,1621129926,9.28,PK,
300,namibe,-15.1961,12.1522,73.09,61,0,1621129929,4.76,AO,
381,gazanjyk,39.2446,55.5154,74.82,14,0,1621130008,8.95,TM,
396,sakakah,29.9697,40.2064,73.40,13,0,1621130072,3.44,SA,
451,dayong,25.0209,118.2898,87.80,62,0,1621130146,8.95,CN,
543,buraydah,26.3260,43.9750,84.20,20,0,1621130229,6.91,SA,

In [7]:
# Set base URL for API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_pre_clean_df.iterrows():

    # get locations from df
    location = f"{row['Lat']},{row['Lng']}"
    print(location)
                    
    # set param as location
    params['location'] = location

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {location}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']
    
    
    try:

        print(f" closest to {location} is {results[0]['name']}.")
        hotel_pre_clean_df.loc[index, 'Hotel Name'] = results[0]['name']
    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        hotel_pre_clean_df.loc[index, 'Hotel Name'] = ''
        

print("------------")

36.4141,64.9053
Retrieving Results for Index 8: 36.4141,64.9053.
 closest to 36.4141,64.9053 is WASIM ASGAR KHAN.
17.9583,-102.2
Retrieving Results for Index 57: 17.9583,-102.2.
 closest to 17.9583,-102.2 is Hotel Quinta Antigua.
26.5851,101.7128
Retrieving Results for Index 65: 26.5851,101.7128.
 closest to 26.5851,101.7128 is Electric Power Hotel.
9.1104,18.3463
Retrieving Results for Index 84: 9.1104,18.3463.
 closest to 9.1104,18.3463 is hotel safari.
19.1059,37.3321
Retrieving Results for Index 137: 19.1059,37.3321.
 closest to 19.1059,37.3321 is فندق الدويم.
-15.4606,-55.7497
Retrieving Results for Index 235: -15.4606,-55.7497.
 closest to -15.4606,-55.7497 is Pousada Morro Dos Ventos.
-14.8796,47.9875
Retrieving Results for Index 248: -14.8796,47.9875.
 closest to -14.8796,47.9875 is Hotel de Ville.
25.2867,51.5333
Retrieving Results for Index 254: 25.2867,51.5333.
 closest to 25.2867,51.5333 is Movenpick Hotel Doha.
21.4267,39.8261
Retrieving Results for Index 264: 21.4267,39.8261.
 closest to 21.4267,39.8261 is Makkah Clock Royal Tower, A Fairmont Hotel.
28.281,68.4388
Retrieving Results for Index 288: 28.281,68.4388.
 closest to 28.281,68.4388 is Sardar Hotel.
-15.1961,12.1522
Retrieving Results for Index 300: -15.1961,12.1522.
 closest to -15.1961,12.1522 is Hotel Chik Chik Namibe.
39.2446,55.5154
Retrieving Results for Index 381: 39.2446,55.5154.
 closest to 39.2446,55.5154 is Railway motel.
29.9697,40.2064
Retrieving Results for Index 396: 29.9697,40.2064.
 closest to 29.9697,40.2064 is Fakhamat Al Orjoana Apartment.
25.0209,118.2898
Retrieving Results for Index 451: 25.0209,118.2898.
 closest to 25.0209,118.2898 is Haiyue Express Hotel.
26.326,43.975
Retrieving Results for Index 543: 26.326,43.975.
 closest to 26.326,43.975 is فندق راحة السلام.
------------

In [8]:
# View dataframe
hotel_pre_clean_df

# Replace empty cells as NaN
hotel_pre_clean_df['Hotel Name'].replace('', np.nan, inplace = True)
hotel_pre_clean_df

# Drop rows with no hotels nearby
hotel_df = hotel_pre_clean_df.dropna(subset=['Hotel Name'])
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country,Hotel Name
8,dawlatabad,36.4141,64.9053,72.57,16,0,1621129560,5.10,AF,WASIM ASGAR KHAN
57,lazaro cardenas,17.9583,-102.2000,82.20,74,0,1621129631,7.38,MX,Hotel Quinta Antigua
65,panzhihua,26.5851,101.7128,81.55,35,0,1621129633,0.07,CN,Electric Power Hotel
84,kibala,9.1104,18.3463,77.00,78,0,1621129637,3.44,TD,hotel safari
137,sawakin,19.1059,37.3321,80.71,41,0,1621129709,2.24,SD,فندق الدويم
235,chapada dos guimaraes,-15.4606,-55.7497,78.80,61,0,1621129853,3.49,BR,Pousada Morro Dos Ventos
248,antsohihy,-14.8796,47.9875,70.18,74,0,1621129856,5.99,MG,Hotel de Ville
254,doha,25.2867,51.5333,89.60,37,0,1621129858,2.30,QA,Movenpick Hotel Doha
264,mecca,21.4267,39.8261,77.70,38,0,1621129860,2.44,SA,"Makkah Clock Royal Tower, A Fairmont Hotel"
288,jacobabad,28.2810,68.4388,88.84,33,0,1621129926,9.28,PK,Sardar Hotel
300,namibe,-15.1961,12.1522,73.09,61,0,1621129929,4.76,AO,Hotel Chik Chik Namibe
381,gazanjyk,39.2446,55.5154,74.82,14,0,1621130008,8.95,TM,Railway motel
396,sakakah,29.9697,40.2064,73.40,13,0,1621130072,3.44,SA,Fakhamat Al Orjoana Apartment
451,dayong,25.0209,118.2898,87.80,62,0,1621130146,8.95,CN,Haiyue Express Hotel
543,buraydah,26.3260,43.9750,84.20,20,0,1621130229,6.91,SA,فندق راحة السلام

In [9]:
#look at google gmaps documentation
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))