# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = '../WeatherPy/weather_output.csv'
weather_df = pd.read_csv(path, encoding = 'utf-8')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
0,dikson,73.5069,80.5464,29.16,90,12,1620749560,17.47,RU
1,cape town,-33.9258,18.4232,64.40,68,0,1620749378,13.80,ZA
2,bredasdorp,-34.5322,20.0403,64.40,63,0,1620749308,12.66,ZA
3,mahebourg,-20.4081,57.7000,75.20,78,20,1620749391,4.61,MU
4,diffa,13.3154,12.6113,105.94,10,18,1620749561,18.66,NE
...,...,...,...,...,...,...,...,...,...
568,westport,41.1415,-73.3579,62.60,27,1,1620750439,16.11,US
569,coahuayana,18.7333,-103.6833,80.60,74,75,1620750439,4.72,MX
570,aketi,2.7388,23.7833,78.03,79,51,1620750439,2.42,CD
571,boa vista,2.8197,-60.6733,80.60,78,75,1620750172,5.75,BR
572,suluq,31.6682,20.2521,84.74,16,0,1620750439,12.48,LY

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#fig = gmap.figure(...)
#once fig is added, then don't need to do it again. Using the same figure, add layers onto for the rest.
from api_keys import g_key
gmaps.configure(api_key=g_key)

# Plot Heatmap
fig = gmaps.figure(center=(51.5, -0.1), zoom_level = 2)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]
locations

# Fill NaN values and convert to float
humidity = weather_df["Humidity"].astype(float)


# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
0,dikson,73.5069,80.5464,29.16,90,12,1620749560,17.47,RU
1,cape town,-33.9258,18.4232,64.40,68,0,1620749378,13.80,ZA
2,bredasdorp,-34.5322,20.0403,64.40,63,0,1620749308,12.66,ZA
3,mahebourg,-20.4081,57.7000,75.20,78,20,1620749391,4.61,MU
4,diffa,13.3154,12.6113,105.94,10,18,1620749561,18.66,NE
...,...,...,...,...,...,...,...,...,...
568,westport,41.1415,-73.3579,62.60,27,1,1620750439,16.11,US
569,coahuayana,18.7333,-103.6833,80.60,74,75,1620750439,4.72,MX
570,aketi,2.7388,23.7833,78.03,79,51,1620750439,2.42,CD
571,boa vista,2.8197,-60.6733,80.60,78,75,1620750172,5.75,BR
572,suluq,31.6682,20.2521,84.74,16,0,1620750439,12.48,LY

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# * Narrow down the DataFrame to find your ideal weather condition. For example:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

fit_df = weather_df.loc[(weather_df['Max Temp']>70) & (weather_df['Max Temp']<90) & (weather_df['Wind Speed']<10) \
                       & (weather_df['Cloudiness'] == 0)]
clean_fit_df = fit_df.dropna()
clean_fit_df
# NA = fit_df.loc[fit_df['Country'] == "NaN"]
# NA

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country
25,astorga,-23.2325,-51.6656,82.40,39,0,1620749565,4.61,BR
40,sao joao da barra,-21.6403,-41.0511,80.60,50,0,1620749399,9.22,BR
74,maxineni,45.4000,27.6333,70.29,33,0,1620749636,0.16,RO
94,arraial do cabo,-22.9661,-42.0278,78.80,53,0,1620749641,4.61,BR
176,champerico,14.3000,-91.9167,87.80,62,0,1620749921,4.61,GT
205,richards bay,-28.7830,32.0377,70.56,69,0,1620749929,8.46,ZA
326,umm lajj,25.0213,37.2685,84.76,50,0,1620749943,1.63,SA
347,platanos,37.6667,21.6167,73.40,64,0,1620750146,8.05,GR
351,ligourion,37.6167,23.0333,78.80,24,0,1620750147,9.22,GR
393,mica,46.3667,24.4167,78.80,31,0,1620750217,3.44,RO
442,bodrum,37.0383,27.4292,71.60,49,0,1620750290,8.05,TR
446,alta floresta,-9.8756,-56.0861,89.60,48,0,1620750290,9.22,BR
466,abu dhabi,24.4667,54.3667,87.80,42,0,1620750043,8.05,AE
482,leua,48.2156,18.6071,77.00,45,0,1620750298,1.99,SK
525,noumea,-22.2763,166.4572,78.01,78,0,1620750369,1.14,NC
545,sao filipe,14.8961,-24.4956,75.11,69,0,1620750374,7.49,CV

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [85]:
hotel_pre_clean_df = pd.DataFrame(clean_fit_df)
hotel_pre_clean_df['Hotel Name'] = ''

hotel_pre_clean_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country,Hotel Name
25,astorga,-23.2325,-51.6656,82.40,39,0,1620749565,4.61,BR,
40,sao joao da barra,-21.6403,-41.0511,80.60,50,0,1620749399,9.22,BR,
74,maxineni,45.4000,27.6333,70.29,33,0,1620749636,0.16,RO,
94,arraial do cabo,-22.9661,-42.0278,78.80,53,0,1620749641,4.61,BR,
176,champerico,14.3000,-91.9167,87.80,62,0,1620749921,4.61,GT,
205,richards bay,-28.7830,32.0377,70.56,69,0,1620749929,8.46,ZA,
326,umm lajj,25.0213,37.2685,84.76,50,0,1620749943,1.63,SA,
347,platanos,37.6667,21.6167,73.40,64,0,1620750146,8.05,GR,
351,ligourion,37.6167,23.0333,78.80,24,0,1620750147,9.22,GR,
393,mica,46.3667,24.4167,78.80,31,0,1620750217,3.44,RO,
442,bodrum,37.0383,27.4292,71.60,49,0,1620750290,8.05,TR,
446,alta floresta,-9.8756,-56.0861,89.60,48,0,1620750290,9.22,BR,
466,abu dhabi,24.4667,54.3667,87.80,42,0,1620750043,8.05,AE,
482,leua,48.2156,18.6071,77.00,45,0,1620750298,1.99,SK,
525,noumea,-22.2763,166.4572,78.01,78,0,1620750369,1.14,NC,
545,sao filipe,14.8961,-24.4956,75.11,69,0,1620750374,7.49,CV,

In [59]:
#TEST
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
#     "location": "39.952583,-75.16522",  # philadelphia coords
    "radius": 100000,
    "type": "airport",
    "key": g_key,
}
# # use iterrows to iterate through pandas dataframe
# for index, row in hotel_df.iterrows():

# get restaurant type from df
location = "39.952583,-75.16522"
print(location)
                    
# add keyword to params dict
params['location'] = location

# assemble url and make API request
print(f"Retrieving Results for Index {index}: {location}.")
response = requests.get(base_url, params=params).json()
    
# extract results
results = response['results']
    
try:

    print(f"Airport closest to {location} is {results[0]['name']}.")
        
# types_df.loc[index, 'name'] = results[0]['name']
# types_df.loc[index, 'address'] = results[0]['vicinity']
# types_df.loc[index, 'price_level'] = results[0]['price_level']
#         types_df.loc[index, 'rating'] = results[0]['rating']
        
except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
print("------------")

39.952583,-75.16522
Retrieving Results for Index 545: 39.952583,-75.16522.
Airport closest to 39.952583,-75.16522 is Helipad.
------------

In [101]:
#TEST
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_pre_clean_df.iterrows():

    # get restaurant type from df
    location = f"{row['Lat']},{row['Lng']}"
    print(location)
                    
    # add keyword to params dict
    params['location'] = location

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {location}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']
    
    
    try:

        print(f" closest to {location} is {results[0]['name']}.")
        hotel_pre_clean_df.loc[index, 'Hotel Name'] = results[0]['name']
    
    except (KeyError, IndexError):
            print("Missing field/result... skipping.")

print("------------")

-23.2325,-51.6656
Retrieving Results for Index 25: -23.2325,-51.6656.
 closest to -23.2325,-51.6656 is Rancho Jads.
-21.6403,-41.0511
Retrieving Results for Index 40: -21.6403,-41.0511.
 closest to -21.6403,-41.0511 is Pousada Porto De Canoas.
45.4,27.6333
Retrieving Results for Index 74: 45.4,27.6333.
Missing field/result... skipping.
-22.9661,-42.0278
Retrieving Results for Index 94: -22.9661,-42.0278.
 closest to -22.9661,-42.0278 is Pousada Porto Praia.
14.3,-91.9167
Retrieving Results for Index 176: 14.3,-91.9167.
 closest to 14.3,-91.9167 is Hotel y restaurante "El Diamante".
-28.783,32.0377
Retrieving Results for Index 205: -28.783,32.0377.
 closest to -28.783,32.0377 is BON Hotel Waterfront Richards Bay.
25.0213,37.2685
Retrieving Results for Index 326: 25.0213,37.2685.
 closest to 25.0213,37.2685 is Moon light Furnished Units.
37.6667,21.6167
Retrieving Results for Index 347: 37.6667,21.6167.
 closest to 37.6667,21.6167 is Hotel Kronio.
37.6167,23.0333
Retrieving Results for Index 351: 37.6167,23.0333.
 closest to 37.6167,23.0333 is Hani Inn.
46.3667,24.4167
Retrieving Results for Index 393: 46.3667,24.4167.
Missing field/result... skipping.
37.0383,27.4292
Retrieving Results for Index 442: 37.0383,27.4292.
 closest to 37.0383,27.4292 is The Marmara Bodrum.
-9.8756,-56.0861
Retrieving Results for Index 446: -9.8756,-56.0861.
 closest to -9.8756,-56.0861 is Floresta Amazonica Hotel.
24.4667,54.3667
Retrieving Results for Index 466: 24.4667,54.3667.
 closest to 24.4667,54.3667 is Ramee Garden Hotel Apartments.
48.2156,18.6071
Retrieving Results for Index 482: 48.2156,18.6071.
 closest to 48.2156,18.6071 is Business Hotel ASTRUM Laus.
-22.2763,166.4572
Retrieving Results for Index 525: -22.2763,166.4572.
 closest to -22.2763,166.4572 is Hôtel Le Lagon.
14.8961,-24.4956
Retrieving Results for Index 545: 14.8961,-24.4956.
 closest to 14.8961,-24.4956 is Tortuga B&B.
------------

In [108]:
hotel_pre_clean_df['Hotel Name'].replace('', np.nan)
hotel_df = hotel_pre_clean_df.dropna()
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Date,Wind Speed,Country,Hotel Name
25,astorga,-23.2325,-51.6656,82.40,39,0,1620749565,4.61,BR,Rancho Jads
40,sao joao da barra,-21.6403,-41.0511,80.60,50,0,1620749399,9.22,BR,Pousada Porto De Canoas
94,arraial do cabo,-22.9661,-42.0278,78.80,53,0,1620749641,4.61,BR,Pousada Porto Praia
176,champerico,14.3000,-91.9167,87.80,62,0,1620749921,4.61,GT,"Hotel y restaurante ""El Diamante"""
205,richards bay,-28.7830,32.0377,70.56,69,0,1620749929,8.46,ZA,BON Hotel Waterfront Richards Bay
326,umm lajj,25.0213,37.2685,84.76,50,0,1620749943,1.63,SA,Moon light Furnished Units
347,platanos,37.6667,21.6167,73.40,64,0,1620750146,8.05,GR,Hotel Kronio
351,ligourion,37.6167,23.0333,78.80,24,0,1620750147,9.22,GR,Hani Inn
442,bodrum,37.0383,27.4292,71.60,49,0,1620750290,8.05,TR,The Marmara Bodrum
446,alta floresta,-9.8756,-56.0861,89.60,48,0,1620750290,9.22,BR,Floresta Amazonica Hotel
466,abu dhabi,24.4667,54.3667,87.80,42,0,1620750043,8.05,AE,Ramee Garden Hotel Apartments
482,leua,48.2156,18.6071,77.00,45,0,1620750298,1.99,SK,Business Hotel ASTRUM Laus
525,noumea,-22.2763,166.4572,78.01,78,0,1620750369,1.14,NC,Hôtel Le Lagon
545,sao filipe,14.8961,-24.4956,75.11,69,0,1620750374,7.49,CV,Tortuga B&B

In [109]:
# NOTE: Do not change any of the code in this cell
#Gretel#Don't need to change code as long as nmae is consistent
#look at google gmaps documentation
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [110]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))